# Flask core
Flask>=3.0.0
Flask-CORS>=4.0.0
Flask-WTF>=1.2.0
gunicorn>=21.0.0

# Supabase
supabase>=2.0.0

# Logging
loguru>=0.7.0

# Environment
python-dotenv>=1.0.0

# Google
google-genai
google-cloud-aiplatform
google-auth-oauthlib>=1.0.0
google-api-python-client>=2.0.0
google-cloud-secret-manager>=2.0.0
