flask
flask-wtf
flask-cors
requests
supabase
python-dotenv
google-cloud-aiplatform
google-genai
google-generativeai
anthropic
openai
loguru
gunicorn
pymupdf
pypdf
pillow
python-multipart
werkzeug
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
